/.idea/
target/
/.settings/
.classpath
.project

usecase-framework-core/target
usecase-framework-core/.settings
usecase-framework-core/.classpath
usecase-framework-core/.project

usecase-framework-test/target
usecase-framework-test/.settings
usecase-framework-test/.classpath
usecase-framework-test/.project

usecase-framework-demo/target
usecase-framework-demo/.settings
usecase-framework-demo/.classpath
usecase-framework-demo/.project
